{% extends "base.html" %}
{% block content %}

       <div class="container">  
          <form id="contact" action="" method="post">
            <h3>FB-Downloader</h3>
            <h4>App for Downloading Facebook videos and images</h4>
            <fieldset>
              <input placeholder="URL" type="url" tabindex="4" required>
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="#28a745"><span class="ladda-label">Submit</span><span class="spinner"></span></button>
            </fieldset>
            <p class="copyright">Designed by <a href="https://devitconsultancy.com/">DevItC</a><p>
          </form>
        </div>

{% endblock %}