{% extends "base.html" %}
{% block content %}

       <div class="container">  
          <form id="contact">
            <h3>FB-Downloader</h3>
            <h4>App for Downloading Facebook videos and images</h4>
              <input name="URL" placeholder="URL" type="url" tabindex="1" required>
              <button class="btn btn-primary ladda-button" data-style="expand-left" tabindex="2"><span class="ladda-label">Submit</span></button>
            <p class="copyright">Designed by <a href="https://devitconsultancy.com/">DevItC</a><p>
          </form>
        	<a href="{{ media_url }}"><img src="{{ media_preview }}"></a>
        </div>

{% endblock %}